**/dev_files/database
**/mogoerp/
**/mogoerp/mongo_data/
/src/containers/mongoerp
src/containers/mongoerp/mongo_data/diagnostic.data/metrics.interim
src/containers/mongoerp/mongo_data/diagnostic.data/metrics.interim
src/containers/mongoerp/mongo_data/journal/WiredTigerLog.0000000006
src/containers/mongoerp/mongo_data/WiredTiger.turtle
src/containers/mongoerp/mongo_data/WiredTiger.wt
*.interim
*.turtle
*.wt
*.0000000006
src/containers/mongoerp/mongo_data/diagnostic.data/metrics.2025-10-21T04-02-17Z-00000
src/containers/mongoerp/mongo_data/diagnostic.data/metrics.interim
/src/applications/middleware/src/orm/connections/__history
/src/applications/middleware/src/sql_core/__history
/src/applications/middleware/src/Win64/Debug/dcu
/src/applications/middleware/src/sql_core/__history
